.main{
    margin-top: 25px;
    display: grid;
    justify-items: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr))
}
.sorry{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    margin-left: 2%;
}

@media (max-width:1454px){
    .main{
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr))
    }
}
@media (max-width:1372px){
    .main{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    }
}
@media (max-width:950px){
    .main{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
    }
}
@media (max-width:890px){
    .main{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    }
}