.itemBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 57, 57);
    border: 2px solid rgb(0, 255, 0);
    height: 480px;
    width: 380px;
}
.itemBlock:hover{
    cursor: pointer;
    background-color: rgb(73, 0, 0);
}
.itemBlock h1{
    font-size: 25px;
}
.itemBlock img{
    max-width: 70%;
    max-height: 70%;
    display: block;
    background-size: cover;
}