article{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 620px;
    height: 620px;
}
.ship{
    display: flex;
    align-items: center;
    gap: 5px;
}
.descr{
    font-size: 25px;
    margin-right: 10%;
    
}
.itemName{
    margin-bottom: 5px;
}
.price{
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 5px;

}
.brand{
    font-style: italic;
    margin: 0;
}
.picture{
    max-height: 620px;
    width: auto;
    max-width: 620px;
    height: auto;
}
.tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
}
.tags .tag{
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}
h1{
    margin-top: 15px;
}
.reviews{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 225px;
}
.reviewText{
    font-size: 35px;
    margin-left: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.amount{
    display: flex;
    border: 1px solid rgb(250, 217, 217);
    width: 150px;
    height: 80px;
    
}
.amount input{
    background-color: rgb(255, 251, 244);
    display: flex;
    outline: none;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    width: 60px;
    color: rgb(255, 183, 48);
    border: none;
    align-items: center;
}
.amount button{
    width: 70px;
    height: 100%;
    border: none;
    font-size: 48px;
    text-align: center;
    background-color: rgb(255, 183, 48);
    color: rgb(255, 255, 255);
}
.amount button:hover{
    background-color: rgb(255, 166, 0);
}
.addBTN{
    margin-top: 25px;
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
    padding: 25px 25px 25px 25px;
    font-size: 35px;

    border-radius: 50px;
    border: rgb(255, 255, 255) 1px solid ;
}
.addBTN:hover{
    background-color: rgb(255, 255, 255);
    color: orange;
    border: rgb(255, 166, 0) 1px solid;
    
}
.addBTN:active{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.picture2{
    display: none;
}

@media (max-width:960px){
    .picture{
        max-height: 520px;
        max-width: 520px;
    }
}
@media (max-width:790px){
    .picture, .imgContainer{
        display: none;
    }
    .picture2{
        display: block;
        width: 330px;
    }
    .allContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .descr{
        text-align: center;
        margin-right: 0;
    }
    .itemName{
        text-align: center;
    }
}