.welcome{
    font-size: 75px;
    margin-left: 10%;
    align-self: flex-start;
}
.main{
    display: flex;
    flex-direction: column;
}
.main .content p{
    font-size: 35px;
    margin-left: 10%;
}
.marquee{
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}
.container{
    
    animation: scrolling 35s infinite linear;
    display: inline-block;
}
.image{
    border: rgb(255, 255, 255) solid 3px;
    height: 21.875rem;
    width: 31.5625rem;
    pointer-events: none;
    user-select: none;
}
.content{
    display: flex;
    flex-direction: row;
}
.bag{
    width: 750px;
}
.storeName{
    color: orange;
}
.discover{
    font-size: 75px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    text-align: center;
}
.d_t{
    text-align: center;
    font-size: 25px;
    display: flex;
    margin-bottom: 68px;
    justify-content: center;
}
.p_footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0px 0px 0px;
    height: 45px;
}
.p_footer a{
    display: flex;
    flex-direction: row;
    height: 25px;
    gap: 5px;
}
.p_footer p{
    color: white;
    margin: 0;
}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


@media (max-width:1326px){
    .bag{
        width: 650px;
    }
}
@media (max-width:1272px){
    .bag{
        width: 450px;
    }
}

@media (max-width:1130px){
    .bag{
        width: 400px;
    }
}

@media (max-width:1100px){
    .bag{
        width: 300px;
    }.main .content p{
        font-size: 25px;
        margin-left: 10%;
    }
}
@media (max-width:960px){
    .bag{
        width: 250px;
        height: 250px;
    }.main .content p{
        font-size: 25px;
        margin-left: 10%;
    }
}
@media (max-width:550px){
    .welcome{
        font-size: 55px;
    }
    .bag{
        width: 230px;
        height: 230px;
    }.discover{
        font-size: 55px;
    }
    .image{
        height: 21.875rem;
        width: 25.3125rem;
    }
}
@media (max-width:450px){
    .welcome{
        font-size: 55px;
    }
    .main .content p{
        font-size: 25px;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
    .bag{
        display: none;
    }.discover{
        font-size: 55px;
    }
    .image{
        height: 15.625rem;
        width: 25.3125rem;
    }
}
@media (max-width:412px){
    .welcome{
        font-size: 45px;
    }
    .discover{
        font-size: 45px;
    }
    .image{
        height: 9.375rem;
        width: 19.0625rem;
    }
}
@media (max-width:340px){
    .welcome{
        font-size: 35px;
    }
    .discover{
        font-size: 35px;
    }
    .main .content p{
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .d_t{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
    }
    .image{
        height: 9.375rem;
        width: 19.0625rem;
    }
}